<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | <%= config.appName %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.jpg">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="/img/logo.jpg" alt="<%= config.appName %> Logo" class="logo">
            <h1><%= config.appName %></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="<%= title === 'Beranda' ? 'active' : '' %>">Beranda</a></li>
                <li><a href="/chat" class="<%= title === 'Tanya AI' ? 'active' : '' %>">Tanya AI</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>